/**
 * src/css/base.pcss
 *
 * Licensed under MIT license.
 * Copyright (C) 2017 Karim Alibhai.
 */

html,
body,
[ng-view] {
  @mixin full;
  overflow: hidden;
}

.fullish,
[ng-view] {
  display: table;
  @mixin full;
}

[ng-view] > .wrapper,
.fullish > div {
  display: table-cell;
  vertical-align: middle;
}

[ng-view] {
  @mixin topleft;
}