/**
 * src/css/map.pcss
 *
 * Licensed under MIT license.
 * Copyright (C) 2017 Karim Alibhai.
 */

body {
  background: #414f4b;
}

#map {
  @mixin full;
  @mixin topleft;

  opacity: .7;
}

.loading #map {
  z-index: -1;
}