/**
 * src/css/mixins.pcss
 *
 * Licensed under MIT license.
 * Copyright (C) 2017 Karim Alibhai.
 */

@define-mixin full {
  width: 100%;
  height: 100%;
}

@define-mixin topleft {
  position: absolute;
  top: 0;
  left: 0;
}