/**
 * src/css/search.pcss
 *
 * Licensed under MIT license.
 * Copyright (C) 2017 Karim Alibhai.
 */

.search {
  @mixin full;
  @mixin topleft;
}

.search h1,
.search p {
  color: #fff;
}

.search h1 {
  font-size: 5rem;
}

.search p {
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.search input[type="text"] {
  padding: .8rem 1rem;
  font-size: 1.3rem;
}