/**
 * src/css/search.pcss
 *
 * Licensed under MIT license.
 * Copyright (C) 2017 Karim Alibhai.
 */

.navbar .navbar-brand {
  font-size: 1.5rem;
  color: #fff;
}

#search-form form,
#search-form input {
  position: absolute;
}

#search-form form {
  top: 0;
  right: 0;
}

#search-form input {
  top: 1rem;
  right: 1rem;
  width: 100%;
}

#search-form .input {
  opacity: .6;
}